* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.app {
    width: 100%;
    padding: 10px 20px 0px 25px;
    min-height: 100%;
    color: var(--indigo700);
}

.section-title {
    margin-bottom: var(--space-xxsmall);
}

.section-block {
    margin-bottom: var(--space-medium);
}

.settings-wrapper {
    display: flex;
    margin-bottom: var(--space-xsmall);
}

.settings-input {
    width: 70px !important;
    margin-right: var(--space-xsmall);
}

.settings-label {
    font-size: 12px !important;
}


#font-family-select {
    width: 162px !important;
    margin-right: var(--space-xsmall);
}

#fontname-select {
    width: 160px;
    height: 40px;
    margin-right: var(--space-xsmall);
    display: block;
}

#fontsize-select {
    width: 100px;
    height: 40px;
}

.textarea-wrapper {
    margin-bottom: var(--space-xsmall);
}

#textarea {
    display: block;
    height: 400px;
}

.calculating-wrapper {
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.result-wrapper {
    width: 100%;
    min-height: 15px;
}

.result-wrapper img {
    width: 100%;
}

.load-button-wrapper {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;

}

